body {
    width: 100%;
    padding: 0;
    border: 0;
}

.cardHolder{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   gap: 10px;

} 

.pokeCard{
    background-color: lightblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pokeImage {
    width: 150px;
    height: auto
}